{% extends "base.html" %}
{% load static %}



{% block page_header %} 
{% include 'includes/navbar.html'%}

{% endblock %} 

{% block content %}
    <div class="container add-container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <hr>
                <h5 class="text-muted">Add Reivew</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 offset-md-1">
                <div class="review-field" id="review-field">
                  <form action="{% url 'add_review' product.id %}" method="post">
                    {% csrf_token %}
                    <fieldset class="form-fields">
                      <!-- <legend class="fieldset-label small text-dark px-2 w-auto">Title</legend> -->
                      {{ form.title | as_crispy_field }}
                      <!-- <legend class="fieldset-label small text-dark px-2 w-auto">Comments</legend> -->
                      {{ form.comment | as_crispy_field }}
                    </fieldset>
                    <div class="text-right">
                      <a class="btn btn-outline-dark " href="{% url 'product_detail' product.id %}">Cancel</a>
                      <button class="btn form-btn ms-1" type="submit">Add Comment</button>
                  </div>
                  </form>
                </div>
              </div> 
        </div>
    </div>
{% endblock %}
