{% extends "base.html" %}
{% load static %}



{% block page_header %} 
{% include 'includes/navbar.html'%}

{% endblock %} 

{% block content %}
    <div class="container edit-container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <hr>
                <h5 class="text-muted">Edit Reivew</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                   
                        {{ field |as_crispy_field }}
                       
                    <div class="text-right">
                        <a class="btn btn-outline-dark" href="">Cancel</a>
                        <button class="btn form-btn ms-1" type="submit">Update Review</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}
