{% extends "base.html" %} 
{% load static %}
{% load bag_tools %}


{% block page_header %} 
{% include 'includes/navbar.html'%}

{% endblock %} 

{% block content %}

    <div class="container bag-container me-5">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <hr />
                    <h2 class="logo-font text-center text-md-start mb-4">Shopping Basket</h2>
                <hr />
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'products' %}" class="btn shopping-btn my-3">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 px-0">
                {% if bag_items %}
                    {% for item in bag_items %}
                        <div class="card bag-card border-1">
                            <div class="bag-image-wrapper">
                                {% if item.product.image %}
                                <a href="">
                                <img
                                    class="card-img-top"
                                    src="{{ item.product.image.url }}"
                                    alt="{{ item.product.name }}"
                                />
                                </a>
                                {% else %}
                                <a href="">
                                <img
                                    class="card-img-top"
                                    src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ item.product.name }}"
                                />
                                </a>
                                {% endif %}
                            </div>
                            <div class="bag-card-wrapper">
                                <div class="card-body bag-card-body">
                                    <p class="bag-product-name">{{ item.product.name }}</p>
                                </div>
                                <div class="bag-card-footer ">
                                    <p class=" product-price">£{{ item.product.price }}</p>
                                    <form class="form  update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group bag-card-form">
                                            <div class="bag-input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-outline-dark" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>  
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-outline-dark"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                            </div>
                        </div>
                    {% endfor %} 
                    {% else %}
                    <p>No items in the bag</p>           
                {% endif %}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 px-0">
                {% if total > 0 %}
                <div class="card bag-checkout-card">
                    <div class="card-header bag-checkout-card-header text-center fs-2 fw-bold">Summary</div>
                    <div class="card-body bag-checkout-card-body text-end">
                        <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                        
                        <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                        
                        <h4 class="mt-4">
                        <strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong>
                        </h4>
                    </div>
                    <div class="card-footer bag-checkout-card-footer">
                        {% if total < 15 %}
                            <a href="{% url 'products' %}" class="btn bag-checkout-card-btn">
                                <span class="text-danger">Min spend £15</span>
                            </a>
                        {% else %}
                            <a href="{% url 'checkout' %}" class="btn bag-checkout-card-btn">
                                <span class="text">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock fa-sm"></i>
                                </span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %} 

  {% block postloadjs %} 
  {{ block.super }}
  {% include 'bag/includes/bag-quantity-input-script.html' %}

  <script type="text/javascript">
    // Remove item and reload on click
    $(".remove-item").click(function (e) {
      var csrfToken = "{{ csrf_token }}";
      var itemId = $(this).attr("id").split("remove_")[1];
      var url = `/bag/remove/${itemId}/`;
      var data = { csrfmiddlewaretoken: csrfToken };

      $.post(url, data).done(function () {
        location.reload();
      });
    });
  </script>

  {% endblock %}

