{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid h-60 ">
        <div class="row h-60">
            <div class="col-12 col-md-12">
                <div class="top-image"></div>
                <div class="login-card">
                    <div class="card card-wrapper"  >
                        <img class="login-img-top" src="{% static 'pics/logo.png' %}"  alt="shop logo image">
                        <span class="card-text">Groceries in a jiffy.</span>
                        <div class="card-body">
                            {% if user.is_authenticated %}
                            <a href="{% url 'products' %}" class="login-btn btn mt-5">{{user}}, Welcome to the Shop</a>
                            {% else %}
                            <a href="{% url 'account_login' %}" class="login-btn btn">Login</a>
                            
                            <a class="register-link btn register-btn " href="{% url 'account_signup' %}">Register</a>
                        </div>
                        <a class="shop-link text-center mb-3" href="{% url 'products' %}">Browse the shop</a>
                        {% endif %}
                      </div>
                </div>
            </div>
        </div>
    <div class="container h-40 mt-5">
        <div class="row h-40">
            <h2 class="slogan text-center">Get your groceries delivered in a jiffy.</h2>
            <div class="col-sm-12 col-md-4 text-center">
                <div class="bottom-image-1">
                    <img src="{% static 'pics/landingpage-bottom-1.PNG' %}" alt="min spend icon image" srcset="">
                    <p>Add what you need, the minimum spend is just £15.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <div class="bottom-image-2">
                    <img src="{% static 'pics/landingpage-bottom-2.PNG' %}" alt=" image of items" srcset="">
                    <p>Choose from over 10,000 items.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <div class="bottom-image-3">
                    <img src="{% static 'pics/landingpage-bottom-1.PNG' %}" alt="delivery time image" srcset="">
                    <p>Place an order and select a delivery time – ASAP or later the same day.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}