{% extends "base.html" %}
{% load static %}


{% block extracss %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}


{% block page_header %} 
{% include 'includes/navbar.html'%}

{% endblock %} 

{% block content %}
    <div class="container checkout-container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Favourites</h2>
                <hr>
            </div>
        </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}