html {
  height: 100%;
}

body {
  font-family: "Lato";
  height: calc(100vh - 164px);
}

/* Buttons settings */
/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.shopping-btn {
  background: white;
  color: black;
  border: 1px solid rgb(12, 12, 12);
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 0.6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shopping-btn:hover,
.shopping-btn:active,
.shopping-btn:focus {
  background: #c0c650;
  color: #1d7ba9;
  border: 1px solid #c0c650;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
  background: #222;
  color: white;
}

.text-dark {
  color: #000 !important;
}

.border-dark {
  border: 1px solid black !important;
}

.bg-dark {
  background: #000 !important;
}

.btt-wrapper {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 102;
}

#btt-button {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  border: 1px solid rgb(207, 207, 207);
  /* display: none; */
  font-size: 15px;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  background-color: white;
  color: #000;
}
#btt-button:hover {
  background-color: rgb(230, 225, 225);
  color: #1d7ba9;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

/* Navbar */

.header-container {
  width: 100%;
  background-color: #c0c650;
}
#topnav {
  margin: 0 40px 0 40px;
}
.main-logo-link .logo-nav {
  height: 3rem;
}

.form {
  margin: 5px;
}
input[name="q"]::placeholder {
  color: #aab7c4;
}

/* #delivery-banner {
  background-color: #1d7ba9;
} */

.bag-color {
  background-color: #1d7ba9;
  color: white;
}

.category-menu *{
  box-sizing: border-box;
}
.category-menu  a:before,
.category-menu a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.category-menu a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #c0c650;
}
.category-menu a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.category-menu a:hover:before,
.category-menu .current a:before {
  opacity: 1;
  width: 4%;
}
.category-menu a:hover:after,
.category-menu .current a:after {
  max-width: 4%;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

/* Hero image */

.top-image {
  background: url("/static/pics/supermarket.jpg") no-repeat center center;
  background-size: cover;
  height: 55vh;
  color: white;
  display: block;
  align-items: center;
  justify-content: center;
  z-index: -1;
  opacity: 0.8;
}

/* login card */

.login-card {
  /* display: flex; */
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.card-wrapper {
  width: 23rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c0c650;
  border-radius: 15px;

  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.login-card .card-wrapper .card-text {
  position: absolute;
}

.card-wrapper .login-img-top {
  height: 50%;
  width: 50%;
  top: 0;
}

.login-card .card-wrapper .card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.register-btn,
.login-btn {
  color: rgb(255, 255, 255);
  margin: 5px;
  background-color: #1d7ba9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border-radius: 5px;
}

.register-btn:hover,
.login-btn:hover {
  color: rgb(255, 255, 255);
  zoom: 1.1;
  text-transform: uppercase;
}

/* Bottom of landing page */

.slogan {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 30px;
}

/* Products page */

.add-container,
.edit-container,  
.product-management-container,
.products-container,
.product-container,
.bag-container,
.checkout-container,
.profile-container {
  padding-top: 180px;
}

.product-card {
  width: 230px;
  height: 365px;
  padding: 10px;
  margin: 20px auto;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.product-card .card-img-top,
.product-card .product-image-link {
  height: 126px;
  width: 120px;
 margin: auto;
 display: block;
}

.products-name {
  font-size: 17px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.product-price {
  font-size: 12px;
}

.add-btn {
  background-color: #1d7ba9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px;
  font-weight: normal;
  width: 100%;
}

.add-btn:active,
.add-btn:hover {
  background-color: #1d7ba9;
  color: white;
}

.like {
  fill: rgb(131, 126, 126);
  cursor: pointer;
}

.heart {
  fill: #1d7ba9;
  cursor: pointer;
}

/* Individual products page */

.browse-products {
  font-size: 15px;
  font-weight: normal;
  padding-top: 20px;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
  /* padding: 10px; */
}

.product-details-wrapper i {
  padding-top: 5px;
  
}

.form-group {
  display: block;
  flex-direction: row;
  margin: 3px;
}

.qtty-input-group {
  width: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* bag items card */

.bag-card {
  margin: 10px;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.bag-image-wrapper {
  width: 35%;
}

.bag-card-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}

.bag-card-body {
  padding: 0;
}
.bag-card-body .bag-product-name {
  font-size: 16px;
  font-weight: 800;
}

.bag-card-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: start;
}

.product-price {
  font-size: 20px;
  font-weight: 600;
}

.bag-input-group {
  display: flex;
  flex-direction: row;
}

/* checkout card */

.bag-checkout-card {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  /* min-width: 350px; */
  margin: 10px;
}

.bag-checkout-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.bag-checkout-card-btn,
.checkout-card-btn {
  width: 100%;
  background-color: #1d7ba9;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.bag-checkout-card-btn:hover {
  zoom: 1.1px;
  text-transform: uppercase;
}

/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
  border: 1px solid rebeccapurple;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

 /* Allauth form formatting */

.user-container {
  display: flex;
    align-items: center;
    justify-content: center;
    max-width: 355px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c0c650;
    color: #1d7ba9;
    margin: 10px auto;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding: 20px;
    border-radius: 10px;
    
}

.reset-btn,
.signup-btn,
.login-btn,
.allauth-signout-btn{
  border-radius: 5px;
  background-color: #1d7ba9;
  padding: 6px;
  color: white;
  border-color: #1d7ba9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Login page */

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
}



/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}
.form-btn {
  background-color:#1d7ba9;
  color: white;
  border-radius: 5px;
}

/* Media queries */

@media (min-width: 576px) {
  /* checkout bag items card */
  .bag-card-body .bag-product-name {
    font-size: 20px;
    font-weight: 800;
  }

  .bag-input-group {
    width: 100%;
  }

  .bag-card-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .product-price {
    margin: auto 15px auto 0px;
    font-size: 25px;
    font-weight: 600;
  }

  /* checkout card */
}
@media (min-width: 1200px) {
  .bag-checkout-card {
    width: 30rem;
    position: fixed;
  }

  /* Allauth form formatting */

  .allauth-form-inner-content{
    width: 100%;
  }

  .allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
  }

  .allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
  }

  .allauth-form-inner-content label:not([for="id_remember"]) {
    display: none;
  }

  .allauth-form-inner-content input::placeholder {
    color: #aab7c4;
  }

  /* .allauth-form-inner-content button,
  .allauth-form-inner-content input[type="submit"] {
    btn 
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0; */

    /* standard bootstrap btn transitions */
    /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  } */

  .allauth-form-inner-content button:hover,
  .allauth-form-inner-content input[type="submit"]:hover {
    color: #223;
    /* background-color: #222;
    border-color: #222; */
  }

  .allauth-form-inner-content a {
    color: #17a2b8; /* text-info */
  }
}
