html {
  height: 100%;
}

body {
  font-family: "Lato";

}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.btn-dark {
    background: black;
    color: white;
}

.btn-outline-dark {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:focus {
    background: black;
    color: white !important;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: #222;
    color: white;
}

.text-dark {
    color: #000 !important;
}

.border-dark {
    border: 1px solid black !important;
}

.bg-dark {
    background: #000 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}





/* Navbar */


.main-logo-link .logo {
    width:3rem;
    height: 3rem;
    margin: 5px;
}


.form {
    margin: 5px;
}
input[name='q']::placeholder {
    color: #aab7c4;
}


/* Hero image */

.top-image {
  background: url("/media/pics/supermarket.jpg") no-repeat center center;
  background-size: cover;
  height: 55vh;
  color: white;
  display: block;
  align-items: center;
  justify-content: center;
  z-index: -1;
  opacity: 0.8;
}

/* login card */

.login-card {
  /* display: flex; */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.login-card .card {
  width: 23rem;
  height: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c0c650;
  border-radius: 15px;

  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.login-card .card .card-text {
  position: absolute;
}

.login-card .card .card-img-top {
  height: 60%;
  width: 60%;
  top: 0;
}

.login-card .card .card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.login-card .card a {
   padding-bottom: 10px;
   text-decoration: none;
   color: #1d7ba9;
   cursor: pointer;
  }


.login-card .card .card-body .btn {
  margin: 5px;
  background-color: #1d7ba9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.login-card .card .card-body .btn a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-decoration: none;
}

/* Bottom of landing page */

.slogan{
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 30px;

}