html {
  height: 100%;
}

body {
  font-family: "Lato";
  height: calc(100vh - 164px);
}


/* Buttons settings */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.btn-dark {
    background: black;
    color: white;
}

.btn-outline-dark {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:focus {
    background: black;
    color: white !important;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: #222;
    color: white;
}

.text-dark {
    color: #000 !important;
}

.border-dark {
    border: 1px solid black !important;
}

.bg-dark {
    background: #000 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Navbar */

#topnav{
  background-color: #c0c650;
}
.main-logo-link .logo-nav {
    height: 3rem;
}


.form {
    margin: 5px;
}
input[name='q']::placeholder {
    color: #aab7c4;
}

#delivery-banner {
  background-color: #1d7ba9;
}
/* Hero image */

.top-image {
  background: url("/media/pics/supermarket.jpg") no-repeat center center;
  background-size: cover;
  height: 55vh;
  color: white;
  display: block;
  align-items: center;
  justify-content: center;
  z-index: -1;
  opacity: 0.8;
}

/* login card */

.login-card {
  /* display: flex; */
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.card-wrapper {
  width: 23rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c0c650;
  border-radius: 15px;

  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.login-card .card-wrapper .card-text {
  position: absolute;
}

.card-wrapper .login-img-top {
  height: 50%;
  width: 50%;
  top: 0;
}

.login-card .card-wrapper .card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.login-card .card-wrapper .login-link {
   padding-bottom: 10px;
   text-decoration: none;
   background-color: #1d7ba9;
   cursor: pointer;
   color: rgb(255, 255, 255);
  }


.login-card .card-wrapper .card-body .btn {
  margin: 5px;
  background-color: #1d7ba9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.login-card .card-wrapper .card-body .btn .register-link {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-decoration: none;
}

/* Bottom of landing page */

.slogan{
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 30px;

}


/* Products page */


.products-container,
.product-container {
    padding-top: 170px;
}

.product-card{
    width: 315px;
    height: 530px;
    padding: 10px;
    margin: 20px auto;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.product-card .card-img-top,
.product-card .product-image-link {
  height: 250px;
  width: 250px;
}

.product-name {
  font-size: 15px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

.product-price{
  font-size: 16px;
}

.add-btn{
  background-color: #1d7ba9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border-radius: 5px;
  
}
.add-btn .add-link{
  color: white;
  text-decoration: none;
}

/* Individual products page */

.browse-products {
  font-size: 15px;
  font-weight: normal;
  padding-top: 20px;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
  /* padding: 10px; */
}

.product-details-wrapper i{
  padding-top: 5px;
}
