<div class="collapse navbar-collapse" id="main-nav">
    
    <ul class="navbar-nav  mx-auto category-menu">
        
        <li class="nav-item "  >
            <a class=" fw-bold nav-link text-dark me-5 " href="{% url 'products' %}" id="home" >
                Home
            </a>
        </li>

        <li class="nav-item  "  >
            <a class=" fw-bold nav-link text-dark me-5" href="{% url 'products' %}?category=Fruits" id="fruits-link" >
                Fruits
             </a>
        </li>

        <li class="nav-item  ">
            <a class=" fw-bold nav-link text-dark me-5" href="{% url 'products' %}?category=Meat" id="meat-link" >
                Meat
             </a>
        </li>

        <li class="nav-item  ">           
            <a class=" fw-bold nav-link text-dark me-5"  href="{% url 'products' %}?category=Diary" id="diary-link" >
               Diary
            </a>
        </li>
        <li class="nav-item ">
            <a class=" fw-bold nav-link text-dark me-5" href="{% url 'products' %}?category=Fish" id="Fish-link" >
               Fish
            </a>
        </li>
        <li class="nav-item ">
            <a class="fw-bold nav-link text-dark me-5"  href="{% url 'product_favourite_list' %}" id="favourite-link" >
               Favourites
            </a>
        </li>
    </ul>
</div>



{% block postloadjs %}
    
    

    
{% endblock %}