<div class="collapse navbar-collapse" id="main-nav">
    
    <ul class="navbar-nav  mx-auto category-menu">
        
        <li class="nav-item "  >
            <a class=" fw-bold nav-link text-dark me-5 " href="{% url 'products' %}" id="home" date-hover='home'>
                Home
            </a>
        </li>

        <li class="nav-item  "  >
            <a class=" fw-bold nav-link text-dark me-5" href="{% url 'products' %}?category=Fruits" id="fruits-link" date-hover='fruits'>
                Fruits
             </a>
        </li>

        <li class="nav-item  ">
            <a class=" fw-bold nav-link text-dark me-5" href="{% url 'products' %}?category=Meat" id="meat-link" date-hover='meat'>
                Meat
             </a>
        </li>

        <li class="nav-item  ">           
            <a class=" fw-bold nav-link text-dark me-5"  href="{% url 'products' %}?category=Diary" id="diary-link" date-hover='diary'>
               Diary
            </a>
        </li>
        <li class="nav-item ">
            <a class=" fw-bold nav-link text-dark me-5" href="{% url 'products' %}?category=Fish" id="Fish-link" date-hover='fish'>
               Fish
            </a>
        </li>
        <li class="nav-item ">
            <a class="fw-bold nav-link text-dark me-5"  href="{% url 'product_favourite_list' %}" id="favourite-link" date-hover='favourites' >
               Favourites
            </a>
        </li>
    </ul>
</div>



{% block postloadjs %}
    
    

    
{% endblock %}