.product-reviews {
    display: flex;
    flex-direction: column;
    
    
}

.review-text{
    font-size: 20   px;

}

.tab{
    background-color: #1d7ba9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
    font-weight: normal;
    flex: 1 1 auto;
    justify-content: center;
    display: flex;
}

.review-header,
.review-form{
    display: none;
}

.review-header.active,
.review-form.active {
    display: block;
}

.review-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-beteween;
}

#review-field {
    display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

}