#reviews {
    display: none;
    
}

#reviews.active {
    display: flex;
}

#description {
    display: none;
    
}


#description.active {
    display: flex;
}

.review-field{
    display: block;
}

.review-field.active{
    display: flex;
} 