.product-reviews {
    display: flex;
    flex-direction: column;
    
    
}
#reviews {
    display: none;
    
}

#reviews.active {
    display: flex;
    
}

#description {
    display: none;
    
}


#description.active {
    display: flex;
}

/* .review-field{
    display: none;
} */

.review-field.active{
    display: flex;
} 

.review-text{
    font-size: 20   px;

}