{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- <div class="container">
        <div class="row">
            <div class="col"> -->
                {% include 'includes/navbar.html'%}

            <!-- </div>
        </div>
    </div> -->
{% endblock %}

{% block content %}
<div class="container products-container">
    <div class="row">
        {% for product in products %}
            <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                <div class="card border-1">
                    {% if product.image %}
                    <a href="">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body pb-0">
                        <p class="mb-0 text-center">{{ product.name }}</p>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0 text-start">
                        <div class="row">
                            <div class="col">
                                <p class="lead mb-0 text-start fw-bold">${{ product.price }}</p>
                                {% if product.category %}
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                        <i class="fas fa-tag me-2"></i>{{ product.category.friendly_name }}
                                    </a>
                                </p>
                                {% endif %}
                                {% if product.rating %}
                                    <small class="text-muted"><i class="fas fa-star me-2"></i>{{ product.rating }} / 5</small>
                                {% else %}
                                    <small class="text-muted">No Rating</small>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <small class="ms-3">
                                        <a href="">Edit</a> | 
                                        <a class="text-danger" href="">Delete</a>
                                    </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
            {% endif %}                        
            {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}