{% extends "base.html" %} 
{% load static %} 
{% block page_header %} 

{% include 'includes/navbar.html'%} 
{% endblock %} 

{% block content %}


<div class="container product-container">
  <div class="row">
    <div class="col{% if s %}-12 mt-4{% endif %}">
      <a href="{% url 'products' %}" class="btn shopping-btn mt-1 mb-5">
          <span class="icon">
              <i class="fas fa-chevron-left"></i>
          </span>
          <span class="text-uppercase">Keep Shopping</span>
      </a>
    </div>
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
  </div>
  <div class="row">
    
    <div class="col-sm-12 col-md-3 offset-md-1">
      {% if product.image %}
      <a href="{% url 'product_detail' product.id %}">
        <img
          class="product-img-top w-100"
          src="{{ product.image.url }}"
          alt="{{ product.name }}"
        />
      </a>
      {% else %}
      <a href="{% url 'product_detail' product.id %}">
        <img
          class="product-img-top"
          src="{{ MEDIA_URL }}noimage.png"
          alt="{{ product.name }}"
        />
      </a>
      {% endif %}
      <a href="{% url 'products' %}">
        <p class="browse-products">Browse for similar products</p>
      </a>
    </div>
    <div class="col-sm-12 col-md-6 offset-md-1">
      <div class="product-details-container">
        <p class=" product-name mb-2">{{ product.name }}</p>
      </div>
      <div class="favourite-section mb-2">
        {% if is_favourite%}
          <a href="{% url 'favourites' product.id %}">
            <i class="fas fa-heart fa-lg "></i>
          </a>
        {% else %}
        <a href="{% url 'favourites' product.id %}">
            <i class="far fa-heart fa-lg"></i>
          </a>
        {% endif %}
      </div>
      <div class="product-details-wrapper my-5">
        <p class="lead mb-0 text-left font-weight-bold">
          £{{ product.price }}
        </p>
        {% if product.category %}
        <p class="small mt-1 mb-2">
          <a
            class="text-muted"
            href="{% url 'products' %}?category={{ product.category.name }}"
          >
            <i class="fas fa-tag mr-1 mb-2"></i>{{ product.category.friendly_name}}
          </a>
        </p>
        {% endif %} 
        {% if product.rating %}
        <small class="text-muted mb-2"
          ><i class="fas fa-star mr-1 "></i>{{ product.rating }} / 5</small
        >
        {% else %}
        <small class="text-muted mb-2">No Rating</small>
        {% endif %} 
        
        {% if request.user.is_superuser %}
        <small class="ml-3">
          <a href="{% url 'edit_product' product.id %}">Edit</a> |
          <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
        </small>
        {% endif %}
      </div>
      <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-12">
                <p class="mt-3"><strong>Quantity:</strong></p>
                <div class="form-group w-50">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="decrement-qty btn btn-outline-dark" 
                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div> 
                        <input class="form-control qty_input" type="number"
                            name="quantity" value="1" min="1" max="99"
                            data-item_id="{{ product.id }}"
                            id="id_qty_{{ product.id }}">
                        <div class="input-group-append">
                            <button class="increment-qty btn btn-outline-dark "
                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
              </div>
                <div class="col-12 w-50 mt-5 btn-wrapper">    
                  <input type="submit" class="btn add-btn" value="Add to Bag">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
              </div>
    </form>
                
    </div>
      <div class="product-description mb-5 mt-md-5">
          <p class="mb-0">{{ product.description }}</p>
      </div>
  </div>
</div>
  {% endblock %}
  
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
